.addProduct {
  border: 1px solid #ECECEE;
  border-radius: 12px;
  background: #fff;
  height: 266px;
  width: 271px;
}

.addProductIcon {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: #2B77EB;
}